.QGschfHCeo {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.fxgoyaPanE {
    border: 1px solid #f6f6f6;
    padding: 10px 40px;
    padding-top: 70px;
    position: relative;
    width: 30%;
    min-width: 400px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.fxgoyaPanE>div {
    margin: 10px 0;
    align-items: center;
}

.fxgoyaPanE>.ant-row.ant-form-item>.ant-form-item-label {
    text-align: right !important;
    padding: 0 10px;
}

.URQKddgnba {
    width: 100%;
    position: absolute;
    height: 80px;
    top: -40px;
    left: 0;
    display: flex;
    justify-content: center;
}

.URQKddgnba>img {
    width: 100px;
    height: 100px;
    background: #f6f6f6;
    display: block;
    border-radius: 50%;
    outline: none;
    border: 5px solid blue;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.PAutlFXLff {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nRqxyzTkGx {
    display: block;
    text-align: center;
    padding: 5px 0;
    font-size: 32px;
    font-weight: 500;
}

.hdndQMLNsc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.hdndQMLNsc>img {
    width: 100%;
    max-width: 300px;
    height: 80px;
    margin-right: 10%;
    min-width: 200px;
    border: 1px solid #d9d9d9;
    outline: none;
}

.isLgLAhAVt {
    font-size: 20px;
    justify-content: center;
    margin: 20px 0;
}

.YmihSJEABx {
    display: flex;
}